@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
/*Discord carai*/

@font-face {
  font-family: 'Jellee';
  src:  url('../fonts/Jellee-Roman.ttf');
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  font-size: 12px;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
html {
  font: 112.5%/1.45em georgia, serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*::before {
  box-sizing: inherit;
}
*::after {
  box-sizing: inherit;
}
body {
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
img {
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
fieldset {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code::before,
code::after,
tt::before,
tt::after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt::before,
pre tt::after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

.mainContainer{
  overflow: hidden;
}

.slanteDivContainer {
  overflow-x: hidden;
  width: 100%;
  height: 15%;
}

.slanteDivAbsoluteFix {
  position: absolute;
}

.slanteDivOrangeContainer {
  overflow-y: hidden;
  position: relative;
  padding-top: 48px;
}

.slanteDivOne { 
  position: relative;
  width: 100%;
  height: 60%;
  background: #000000
}

.slanteDivOne::after { 
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(2deg);
}

.slanteDivTwo { 
  position: relative;
  width: 100%;
  height: 60%;
  background-color: black;
}

.slanteDivTwo::before { 
  top: -5;
  left: 0;
  overflow: hidden;
  position: relative;
  transform: rotate(2.4deg);
  -ms-transform: rotate(2.4deg);
  -webkit-transform: rotate(2.4deg);
  -o-transform: rotate(2.4deg);
  -moz-transform: rotate(2.4deg);
  background-color: black;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 128px;
  padding: 0;
  width: 108%;
  margin-left: -8px;
  margin-top: -48px;
}

.slanteDivThree { 
  position: relative;
  width: 100%;
  height: 60%;
  background-color: white;
}

.slanteDivThree::before { 
  top: -5;
  left: 0;
  overflow: hidden;
  position: relative;
  transform: rotate(2.4deg);
  -ms-transform: rotate(2.4deg);
  -webkit-transform: rotate(2.4deg);
  -o-transform: rotate(2.4deg);
  -moz-transform: rotate(2.4deg);
  background-color: black;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 128px;
  padding: 0;
  width: 101%;
  margin-left: -8px;
  margin-top: -48px;
}

.slanteDivTwo::after { 
  position: absolute;
  width: 100%;
  height: 100%;
  content: '';
  background: inherit;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform-origin: top left;
  transform: skewY(2deg);
}

.slanteDivFour { 
  position: relative;
  width: 100%;
  height: 60%;
  background-color: black;
}

.slanteDivFour::before { 
  top: -5;
  left: 0;
  overflow: hidden;
  position: relative;
  transform: rotate(-1.25deg);
  -ms-transform: rotate(-1.25deg);
  -webkit-transform: rotate(-1.25deg);
  -o-transform: rotate(-1.25deg);
  -moz-transform: rotate(-1.25deg);
  background-color: black;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 128px;
  padding: 0;
  width: 108%;
  margin-left: -8px;
  margin-top: -2rem;
}

.slanteDivRed::after { 
  position: absolute;
  transform: rotate(2.8deg);
  -ms-transform: rotate(2.8deg);
  -webkit-transform: rotate(2.8deg);
  -o-transform: rotate(2.8deg);
  -moz-transform: rotate(2.8deg);
  background-color: #b31e14;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 56px;
  padding: 0;
  width: 106%;
  margin-left: -8px;
}

.slanteDivOrange::after { 
  position: relative;
  transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  background-color: #d4852b;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 56px;
  padding: 0;
  width: 106%;
  margin-left: -8px;
}

.slanteDivBlue::after { 
  position: absolute;
  transform: rotate(2.8deg);
  -ms-transform: rotate(2.8deg);
  -webkit-transform: rotate(2.8deg);
  -o-transform: rotate(2.8deg);
  -moz-transform: rotate(2.8deg);
  background-color: #3a4f97;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 56px;
  padding: 0;
  width: 104%;
  margin-left: -8px;
}

.slanteDivPurple::after { 
  position: relative;
  background-color: #5c1478;
  content: "";
  z-index: -2;
  display: inline-block;
  height: 56px;
  padding: 0;
  width: 106%;
  margin-left: -8px;
}

.test {
  background-color: palevioletred;
  color: green;
}

.headerDivs {
  text-align: center;
  margin: auto;
}

.marginTop {
  margin-top: 10%;
}

.marginTopHigh {
  margin-top: 35%;
}

.marginTopBotLow {
  margin-bottom: 15%;
}

.marginTopBotLower {
  margin-bottom: 5%;
}

.paddingOnSides {
  padding-left: 25%;
  padding-right: 25%;
}

.imgAdequatorLogo {
  display: inline-block;
  max-width: 35%; 
  padding: 5%;
  margin-left: 5%;
}

.newImgAdequatorAbout {
  display: inline-block;
  max-width: 35%;
}

.imgAdequatorRainbow {
  display: inline-block;
  max-width: 60%;
}

.imgAdequatorAbout {
  display: inline-block;
  max-width: 50%; 
}

.imgAdequatorFaq {
  max-width: 10%; 
}

.imgAdequatorSched {
  display: inline-block;
  max-width: 80%; 
  margin-bottom: 0.3em;
}

.imgAdequatorSelection {
  margin-right: 1em;
}

.stepOnIt {
  margin-top: 5rem;
}

.petContainer {
  max-width: 65%;
}

.citiContainer {
  max-width: 50%;
}

.cinContainer {
  max-width: 100%;  
}


.fablabContainer {
  margin-left: 3.5rem;
  max-width: 50%;
}

.footerLineHeight {
  line-height: 6rem;
}

@media (max-width: 800px) {
  .footerLineHeight {
    line-height: 2rem;
  }

  .fablabContainer {
    margin-left: 1.2rem;
  }
  .imgAdequatorLogo {
    display: inline-block;
    max-width: 90%; 
    padding: 0px 5% 0px;
    margin-left: 0px;
  }
  
  .imgAdequatorRainbow {
    display: inline-block;
    max-width: 100%;
  }

  .paddingOnSides {
    padding-left: 10%;
    padding-right: 10%;
  }

  .imageAdequatorRainbow .marginTopBot {
    margin-top: 0%
  }

  .aboutContainer .maxWidthHalf {
    max-width: 100%;
  }

  .aboutContainer .paddingTop.spaceBot {
    padding-top: 20%;
  }
  
  .aboutContainer .paddingTop {
    padding-top: 0px;
  }

  .aboutContainer .paddingTop img.marginTopHigh {
    margin-top: 0px;
  }

  .imgAdequatorScheduleContainer .imgAdequatorAbout {
    max-width: 90%;
  }

  .newImgAdequatorAbout {
    max-width: 55%;
  }

  .slanteDivTwo .enrollmentAsset {
    height: 25vw;
  }

  .slanteDivTwo .twentyWidth {
    width: 80%;
  }
  
  .slanteDivTwo .marginTopBotLower {
    margin-bottom: 16px;
  }

  .slanteDivTwo .spaceLeft {
    margin-left: 0px;
    margin-bottom: 32px;
  }

  .slanteDivTwo .spaceRight {
    margin-left: 0px;
  }

  .slanteDivTwo .maxWidthHalf {
    max-width: 80%;
  }

}

@media (max-width: 1024px) {
  .footerLineHeight {
    line-height: 2.3rem;
  }

  .fablabContainer {
    margin-left: 1.2rem;
  }

  .scheduleBox .textSubTitlesSched {
    font-size: 20px;
  }
  
  .scheduleWrapper {
    flex-wrap: wrap;
  }

  .scheduleWrapper .scheduleBox {
      width: 36vw;
  }

  .scheduleBox .textParagraphsWhite {
    font-size: 18px;
    text-align: inherit;
  }

  .slanteDivFour .imgAdequatorFaq {
    max-width: 20%; 
  }

  .paddingOnSides {
    padding-left: 10%;
    padding-right: 10%;
  }

  .newImgAdequatorAbout {
    max-width: 55%;
  }

}

@media (min-width: 800px) and (max-width: 1024px) {
  .footerLineHeight {
    line-height: 3rem;
  }

  .buttonAdequator {
    font-size: 2em;
  }

  .newImgAdequatorAbout {
    max-width: 35%;
  }
}

@media (min-width: 1024px) and (max-width: 1800px) {
  .footerLineHeight {
    line-height: 3rem;
  }

  .fablabContainer {
    margin-left: 1.2rem;
  }

  .newImgAdequatorAbout {
    display: inline-block;
    max-width: 25%;
  }

  .scheduleBox .textSubTitlesSched {
    font-size: 32px;
  }

  .paddingOnSides {
    padding-left: 5%;
    padding-right: 5%;
  }

}

@media (min-width: 1024px) and (max-width: 1440px) {
  .footerLineHeight {
    line-height: 3.6rem;
  }

  .fablabContainer {
    margin-left: 1.2rem;
  }

  .newImgAdequatorAbout {
    display: inline-block;
    max-width: 25%;
  }

  .stepOnIt {
    margin-top: 3.5rem;
  }

  .scheduleBox .textSubTitlesSched {
    font-size: 32px;
  }

}

@media (min-width: 1440px) {
  .alignCenter .maxWidthHalf.textParagraphsWhite.inLineBlock {
    margin-top: -72px;
  }

  .footerLineHeight {
    line-height: 6rem;
  }
}

.alignCenter .textParagraphsWhite.inLineBlock {
  margin-top: -48px;
}

.imgAdequatorScheduleContainer {
  margin-top: -72px;
}

.enrollmentAsset {
  background: url(/static/inscricoes2-d4031035eaf9487d3b0e35dee90bcc17.svg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 13vw;
}

.scheduleWrapper {
  padding-left: 8%;
  padding-right: 8%;
  display: flex;
  justify-content: space-between;
}

.scheduleBox {
  width: 18vw;
}

.buttonAdequator {
  width: 100%;
  background-color: #000000;
  border-width: 1.5px;
  border-style: solid;
  border-radius: 8px;
  letter-spacing: 1px;
  border-color: #FFFFFF;
  color: #FFFFFF;
  font-family: 'Jellee', sans-serif;
  font-size: 2em;
  padding: 0.3em 0.3em;
}

.buttonAdequator:hover {
  cursor: pointer;
}

.textParagraphs {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.5rem;
  text-align: justify;
}

.textParagraphsWhite {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: white;
  font-weight: 400;
  font-size: 20px;
  text-align: justify;
}

.redHref{
  color: #B52015;
  text-decoration: none;
}

.zIndexHigh {
  z-index: 1;
}

.boldIt {
  font-weight: 600;
}

.textTitlesLight {
  font-family: 'Jellee', sans-serif;
  font-size: 56px;
  color: black;
}

.textTitles {
  font-family: 'Jellee', sans-serif;
  font-size: 54px;
  color: black;
}

.textSubTitles {
  font-family: 'Jellee', sans-serif;
  font-size: 28px;
  color: #DEDEDE;
}

.textSubTitlesSched {
  font-family: 'Jellee', sans-serif;
  font-size: 42px;
  font-weight: 400;
  margin-bottom: 0.25rem;
  color: white;
}

.floatItLeft {
  float: left;
}

.floatItRight {
  float: right;
}

.alignCenter {
  text-align: center;
  align-content: center;
}

.alignLeft {
  text-align: left;
}

.alignRight {
  text-align: right;
}

.maxWidthHalf {
  max-width: 50%;
}

.maxWidthQuarter {
  max-width: 30%;
}

.paddingTop {
  padding-top: 8em;
}

.paddingTopLow {
  padding-top: 4em;
}

.adjustingPadding {
  padding-right: 8%;
  padding-left: 8%;
}

.spaceLeft {
  margin-left: 0.5em;
}

.spaceRight {
  margin-right: 0.5em;
}

.spaceLeftHigh {
  margin-left: 0.7rem;
}

.spaceLeftHighHigh {
  margin-left: 8rem;
}

.spaceLeftHighHighHigh {
  margin-left: 11rem;
}

.spaceRight {
  margin-right: 0.2em;
}

.spaceBot {
  padding-bottom: 3em;
}

.littleSpaceBot {
  padding-bottom: 0.5em;
}

.inLine {
  display: inline;
}

.inLineBlock {
  display: inline-block;
}

.superposeTop {
  position: relative;
  top: -4rem;
}

.twentyWidth {
  width: 25%;
}

.accordion {
  background-color: transparent;
  color: white; 
  cursor: pointer;
  padding: 0.75rem;
  width: 100%;
  border: solid;
  border-width: 4px;
  border-radius: 15px;
  border-color: #FFFFFF;

  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  text-align: left;
  outline: none;
  transition: 0.4s;
  margin-bottom: 2.5rem;
}

button.accordion:after {
  content: '';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

button.accordion.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  text-align: left;
  overflow: hidden;
  transition: max-height 0.25s;
    transition-property: max-height;
    transition-duration: 0.25s;
    
    transition-delay: 0s;
}

.openerIcon {
  max-width: 1.5em;
  margin-top: -0.3em;
  margin-bottom: -0.4em;
  float: right;
}

.openerIconPath {
  fill:none;
  stroke-width: 20;
  stroke-linecap:round;
  stroke-linejoin:round;
  stroke-miterlimit:10;
  stroke-dasharray:none;
  stroke-opacity:1
}

.prideRed {
  stroke: #b31e14;
}

.prideOrange {
  stroke: #d4852b;
}

.prideYellow {
  stroke: #ffe614;
}

.prideGreen {
  stroke: #457838;
}

.prideBlue {
  stroke: #3a4f97;
}

.pridePurple {
  stroke: #5c1478;
}

.footerContainer {
  padding-left: 8%;
  padding-right: 8%;
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
}

.footerContainer div {
  display: flex;
  justify-content: flex-end;
  width: 15%;
}

.footerContainer div a {
  width: 40%;  
}

.footerLogo {
  padding-bottom: 8px;
}

.footerSocial {
  width: 100%;
}

.marginTopBot {
  margin-bottom: 7%;
  margin-top: 7%;
}

.marginTopBotLow {
  margin-bottom: 6%;
  margin-top: 4%;
}

.supportContainer {
  max-width: 60%;
}

.vintaContainer {
  max-width: 40%;
}

.vtexContainer {
  max-width: 50%;
}

.shaweeContainer {
  max-width: 50%;
}

.maxWidth {
  max-width: 100%;
}

.alignMiddle {
  vertical-align: middle;
}

.conductLink {
  color: white;
  text-align: center;
  font-family: 'Jellee', sans-serif;
  font-size: 2em;
  letter-spacing: 1px;
}
